<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Incluye los componentes -->
    <app-navbar
      title="Dashboard"
      primary-button-label="Solicitar Acceso"
      primary-button-link="nueva.html"
    >
    </app-navbar>
    <app-dashboard></app-dashboard>
    <dashboard-grid></dashboard-grid>

    <script src="frontend/components/navbar.js"></script>
    <script src="frontend/components/dashboard.js"></script>
    <script src="frontend/components/dashboardGrid.js"></script>
  </body>
</html>
