<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solicitar Asesoría</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-navbar
      title="Solicitar Asesoría"
      primary-button-label="Inicio"
      primary-button-link="/dashboard.html"
    >
    </app-navbar>
    <asesor-form></asesor-form>
    <script type="module" src="/frontend/components/Navbar.js"></script>
    <script type="module" src="/frontend/components/AsesorForm.js"></script>
  </body>
</html>
